@for(categorySite in categorySiteList){
    @if(isNotEmpty(categorySite.sites)){
    <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="${categorySite.title}"></i>${categorySite.title}</h4>
        <div class="row">
            @for(site in categorySite.sites){
            <div class="col-sm-3 menu-card" onclick="window.open('${site.url}', '_blank')">
<!--                <img src="/kaptcha/${site.thumb}">-->
                <img src="/kaptcha/${site.thumb == null || site.thumb == "" ? 'default' : site.thumb}">
                <div class="menu-content">
                    <h2>${site.title}</h2>
                    <p>${site.description}</p>
                </div>
            </div>
            @}
        </div>
    <br>
    @}
@}